img.hover{
    max-width: 220px;
    align-self: center;
    background-color: var(--project-card-bg);
    margin-bottom: 5px;
    border-radius: 20px;
}
a{
    display: inline-block;
    width: fit-content;
    text-decoration: none;
    color: #222;
    transition: transform 200ms ease-in-out;
}
a:hover{
    transform: scale(1.05);
}
p{
    margin-top: 6px;
    color: #bab6b6;
}
